.App {
  text-align: center;
  background-color: #302f2f;
  color: white;
  min-height: 100vh;
  font-family: "ars-maquette-web", sans-serif;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content auto;
}

.Home {
  margin: auto;
  width: 70%;
}

.Reviews_by_cat {
  margin: auto;
  width: 70%;
}

.Reviews_list {
  text-align: center;
  color: black;
}

.Review {
  margin: auto;
  width: 70%;
}

.Card {
  position: relative;
}
.Card_img {
  max-width: fit-content;
  max-height: fit-content;
}
